{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{%block link%}
    <link rel="stylesheet" href="./static/contact.css">
{%endblock%}
{%block content%}

<div class="master">

    <div class="form-container">
        <h1>Contact Me</h1>
        <form method="POST" action="/contact">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ user_details.first_name }} {{ user_details.last_name }}" required><br><br>
        
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{ user_email }}" required><br><br>
        
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br><br>
        
            <button type="submit">Send Message</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        document.querySelector('form').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
            e.preventDefault();
            this.submit();
            }
        });
    });
</script>
{%endblock%}