{% extends "base.html" %}
{% block title %} Login {% endblock %}
{%block link%}
<link rel="stylesheet" href="./static/contact.css">
{%endblock%}
{%block content%}

<div class="master">

    <div class="form-container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username/Email:</label><br>
            <input type="text" id="username" name="username" placeholder="Enter your email" required
                style="border: 1px solid #ccc; border-radius: 5px; margin-top: 10px; width:100%; padding: 10px; background-color: #f9f9f9;"><br><br>

            <label for="password">Password:</label><br>
            <div
                style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 5px; margin-top: 10px; padding: 5px; background-color: #f9f9f9; width: 100%; box-sizing: border-box;">
                <input type="password" id="password" name="password" placeholder="Enter your password" required
                    style="background-color: #f9f9f9; border: none; outline: none; flex: 1;">
                <img src="{{ url_for('static', filename='visible.svg') }}" id="togglePassword"
                    style="cursor: pointer; filter: brightness(0) invert(0);">
            </div><br>
            
            <button type="submit" style="background-color: green; color: white; padding: 10px 16px; border: none; border-radius: 5px; cursor: pointer;">
                Log in
            </button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {

        document.querySelector('form').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                this.submit();
            }
        });
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.src = type === 'password' ? "{{ url_for('static', filename='visible.svg') }}" : "{{ url_for('static', filename='non_visible.svg') }}";
        });

        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#confirm_password');
        toggleConfirmPassword.addEventListener('click', function (e) {
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            this.src = type === 'password' ? "{{ url_for('static', filename='visible.svg') }}" : "{{ url_for('static', filename='non_visible.svg') }}";
        });
    });
</script>


{%endblock%}